<h1  align="center" style="margin-top: 20px">Roop Search Engine</h1>

<div>
  <input class="form-control" type="text" #userInput placeholder="Search"
         style="margin-left: 650px; margin-top: 30px; width: 200px;height: 30px">
  <button class="input-group-text btn btn-outline-primary" (click)="getAllNews(userInput.value)"
          style="margin-left: 710px; margin-top: 10px">Search
  </button>
  <br>
  <div class="card mb-4 shadow-sm" *ngFor="let article of articles">
    <img height="310px" width="350px" style="margin-left: 550px; padding-top: 15px"
         [src]="article.urlToImage"/> <br>
    <a href="{{article.url}}" style="font-size: 23px; color: blue; text-decoration: none">{{article.title}}</a> <br><br>
    <p>{{article.description}}</p>
    <p>{{article.url}}</p>
  </div>
</div>
